[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pydot = "*"

[packages]
requests = "*"
selenium = "*"
beautifulsoup4 = "*"
lxml = "*"
newspaper3k = "*"
tensorflow = "*"

[requires]
python_version = "3.7"
