[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true
skip_lock = true

[dev-packages]
pydot = "*"

[packages]
requests = "*"
selenium = "*"
beautifulsoup4 = "*"
lxml = "*"
newspaper3k = "*"
tensorflow = "==1.15.4"
fasttext = "*"
tensorflow-datasets = "*"
scikit-learn = "*"
recurrentshop = {editable = true,git = "https://github.com/farizrahman4u/recurrentshop.git"}
seq2seq = {editable = true,git = "https://github.com/farizrahman4u/seq2seq.git"}
matplotlib = "*"
gensim = "*"

[requires]
python_version = "3.7"
